@use "../index" as *;


$-btn-text: $color-white;

$-btn-primary-bg: $color-primary;
$-btn-primary-bg-hover: $color-primary-medium;
$-btn-disabled: $color-secondary-medium;

$-btn-secondary-bg: $color-white;
$-btn-secondary-bg-hover: $color-secondary-medium;
$-btn-secondary-text: $color-tetriary;
$-btn-secondary-border: $color-secondary-medium;


$-btn-dark-bg: $color-secondary;
$-btn-dark-bg-hover: $color-tetriary;
$-btn-dark-text: $color-white;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: $-btn-text;
  cursor: pointer;
  white-space: nowrap;
  width: auto;
  transition: all .35s ease;

  &:hover {
    transition: all .35s ease;
  }

  &:disabled {
    background-color: $-btn-disabled;
    transition: all .35s ease;
  }

  &__default {
    background-color: $-btn-primary-bg;
    border: 2px solid $-btn-primary-bg;
    transition: all .35s ease;

    &:hover {
      background-color: $-btn-primary-bg-hover;
      border: 2px solid $-btn-primary-bg-hover;
      transition: all .35s ease;
    }
  }

  &__outlined {
    background-color: $-btn-secondary-bg;
    border: 2px solid $-btn-secondary-border;
    color: $-btn-secondary-text;
    transition: all .35s ease;

    &:hover {
      background-color: $-btn-secondary-bg-hover;
      border: 2px solid $-btn-secondary-border;
      color: $-btn-secondary-text;
      transition: all .35s ease;
    }
  }

  &__dark {
    background-color: $-btn-dark-bg;
    border: 2px solid $-btn-dark-bg;
    color: $-btn-dark-text;

    &:hover {
      background-color: $-btn-dark-bg-hover;
      border: 2px solid $-btn-dark-bg-hover;
      transition: background-color .35s ease;
    }
  }

  &--transparent {
    background-color: transparent;
    border-color: transparent;
    color: $-btn-secondary-text;
  }

  &--large {
    padding: 15px;
    min-width: 175px;
    height: 55px;
    border-radius: $border-radius-medium;
  }

  &--medium {
    padding: 10px;
    min-width: 135px;
    min-height: 45px;
    border-radius: $border-radius-medium;
  }

  &--small {
    padding: 5px;
    min-width: 35px;
    min-height: 35px;
    border-radius: $border-radius-medium;
  }
}

.smart-box {
  &__btn {
    padding: 5px 7px;
    min-height: auto;
  }

  &__btn-icon {
    margin-left: 5px;
  }
}