@use "../index" as *;


$-ColorInputBg: $color-white;
$-ColorInputFocused: $color-primary;
$-ColorInputBorder: $color-secondary-light;
$-InputBorderRadius: $border-radius-medium;
$-ColorInputText: $color-text-dark;

$-ColorLabelText: $color-text-dark;
$-ColorOptionBgHovered: $color-secondary-light;

$-formItemShadowHovered: -1px 5px 11px $color-secondary-light;

.form-control {
  margin-bottom: 10px;

  &__label {
    display: inline-block;
    width: auto;
    margin-bottom: 5px;
    font-size: 15px;
    color: $-ColorLabelText;

    @media (min-width: 769px) {
      margin-bottom: 5px;
      font-size: 16px;
    }

    &:hover {

      &~input,
      &~textarea,
      &~select {
        box-shadow: none;
      }
    }
  }

  &__input,
  &__textarea {
    &::placeholder {
      font-size: 12px;
      color: $color-tetriary;
    }
  }

  &__input,
  &__textarea {
    display: inline-block;
    width: 100%;
    padding: 8px 12px;
    color: $-ColorInputText;
    background-color: $-ColorInputBg;
    border: 2px solid $-ColorInputBorder;
    border-radius: $-InputBorderRadius;

    &:focus,
    &:focus-visible {
      outline-color: $-ColorInputFocused;
    }

    &:hover {
      box-shadow: $-formItemShadowHovered;
    }
  }

  &__input-radio {
    position: relative;
    width: 35px;
    height: 15px;
    margin: 4px 7px 0 0;
    vertical-align: top;
    background-color: $-ColorInputBg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid $color-primary-medium;
    appearance: none;
    border-radius: $border-radius-large;

    &:after {
      position: absolute;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      display: block;
      width: 10px;
      height: 10px;
      background: $color-primary-light;
      border: 1px solid $color-primary-medium;
      content: '';
      border-radius: $round;
    }

    &:checked {
      background-color: $color-primary-medium;
      border-color: $color-primary-medium;

      &:after {
        left: calc(100% - 10px - 3px);
        background: $color-primary-light;
        content: '';
        border-radius: $round;
      }
    }
  }

  &__textarea {
    height: 50px;

    &:focus,
    &:focus-visible {
      outline-color: $-ColorInputFocused;
    }

    &:hover {
      box-shadow: $-formItemShadowHovered;
    }
  }

  &__select {
    position: relative;
    display: block;
    padding: 8px 12px;
    min-width: 150px;
    width: 100%;
    color: $-ColorInputText;
    background-color: $-ColorInputBg;
    border: 2px solid $-ColorInputBorder;
    border-radius: $-InputBorderRadius;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: no-repeat calc(100% - 10px) 50%;
    background-image: url('data:image/svg+xml;utf8,<svg width="14" height="15" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 10.127L12 18.127L20 10.127H4Z" fill="%235C8AA8"/></svg>');
    cursor: pointer;

    &:focus,
    &:focus-visible {
      outline-color: $-ColorInputFocused;
    }

    &:hover {
      box-shadow: $-formItemShadowHovered;
    }
  }

  &__input-wrapper {
    position: relative;
    width: 100%;
  }

  &__field-description {
    margin-top: 2px;
    font-size: 11px;
    font-style: italic;
    color: $color-tetriary;
  }

  &.error {
    .form-control__label {
      color: $color-danger;
    }

    .form-control__input,
    .form-control__textarea,
    .form-control__select {
      border: 2px solid $color-danger;
    }
  }

  .error-text {
    font-size: 1.3rem;
    color: $color-danger;
  }
}

.password-visibility-wrapper {
  position: absolute;
  top: 20px;
  transform: translateY(-50%);
  right: 5px;
  display: flex;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  z-index: 10;
  user-select: none;
  color: $color-primary-medium;
}

.error {
  .password-visibility-wrapper {
    color: $color-danger;
  }
}

.smart-list-box {}