@use "../index" as *;

$-colorTabsBg: $color-white;
$-colorTabsText: $color-secondary;
$-colorTabsTextHovered: $color-primary;
$-colorTabsBgHovered: $color-secondary-light;
$-colorTabsBgActive: $color-primary-light;

$-colorTabsBorder: $color-primary;
$-colorTabsBorderRadius: $border-radius-medium;

.tabs {
  &__btn {
    padding: 12px 15px;
    margin-right: 8px;
    border: none;
    border-bottom: 2px solid transparent;
    border-top-right-radius: $colorTabsBorderRadius;
    border-top-left-radius: $colorTabsBorderRadius;
    color: $colorTabsText;
    font-weight: 500;
    text-transform: uppercase;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      background-color: $colorTabsBgHovered;
      text-decoration: none;
    }

    &.active {
      color: $colorTabsTextHovered;
      background-color: $colorTabsBgActive;
      border-bottom-color: $colorTabsBorder;
    }
  }

  &__content-wrapper {
    padding: 35px 10px;
  }
}