@use "../index" as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


$-font-main: 'Roboto', 'Arial', 'Helvetica', sans-serif;
$-color-link-text: $color-text;
$-color-main-text: $color-text-dark;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  margin: 0;
  scrollbar-gutter: stable;
  font-size: 10px;
}

body {
  min-height: 100vh;
  padding: 0;
  color: $-color-main-text;
  overflow: auto;
  transition: color 0.5s,
    background-color 0.5s;
  line-height: 1.42;
  font-family: $-font-main;
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

body nav {
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: $-color-link-text;
}

a,
a:hover {
  text-decoration: none;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

.flex {
  display: flex;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;

  &__spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
  }

  &__notfound {
    max-width: 80%;
  }
}

main {
  min-height: calc(100vh - 150px); //100vh - (header + footer)
  width: 100%;
  background-color: $color-white;
  transition: max-width 0.35s ease;

  @media(min-width: $md) {
    padding-left: $asside-width-close;
  }
}

.sidebar.close {
  &~.main {
    transition: width 0.35s ease;
  }
}

.relative {
  position: relative;
}

.display-contents {
  display: contents;
}

.todo {
  background-color: $color-todo;
}

.inprogress {
  background-color: $color-inprogress;
}

.inreview {
  background-color: $color-inreview;
}

.testing {
  background-color: $color-testing;
}

.done {
  background-color: $color-done;
}

.blocked {
  background-color: $color-blocked;
}

.active-status {
  background-color: $color-active;
}

.close {
  background-color: $color-close;
}

.board__column--todo {
  order: 1;
}

.board__column--inprogress {
  order: 2;
}

.board__column--inreview {
  order: 3;
}

.board__column--testing {
  order: 4;
}

.board__column--done {
  order: 5;
}

.board__column--blocked {
  order: 6;
}

.hidden {
  display: none;
}

.visually-hidden {
  visibility: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.rounded {
  border-radius: 50%;
}

.priority {
  &--blocker {
    background-color: $color-danger;
  }

  &--critical {
    background-color: $color-violet;
  }

  &--high {
    background-color: $color-attention;
  }

  &--low {
    background-color: $color-success-dark;
  }

  &--medium {
    background-color: $color-everage;
  }

  &--trivial {
    background-color: $color-success;
  }
}

.details {
  border: 2px solid $color-secondary-medium;
  border-radius: $border-radius-medium;

  &[open] {
    .details__arrow {
      transform: rotate(180deg);
    }
  }

  &__title {
    display: inline-flex;
    font-size: 16px;
    margin-right: auto;
  }
}

.summary {
  display: flex;
  padding: 15px;
}

.details .summary::-webkit-details-marker {
  display: none;
}

.description {
  margin-bottom: 30px;
  font-size: 18px;
  color: $color-tetriary;

  &-text {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}