@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  margin: 0;
  scrollbar-gutter: stable;
  font-size: 10px;
}

body {
  --font-main: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  --color-link-text: var(--color-text);
  --color-main-text: var(--color-text-dark);

  min-height: 100vh;
  padding: 0;
  color: var(--color-main-text);
  background: var(--color-secondary);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.42;
  font-family: var(--font-main);
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

body nav {
  margin: 0 auto;
}

a {
  color: var(--color-link-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.relative {
  position: relative;
}

.todo {
  background-color: var(--color-todo);
}

.inprogress {
  background-color: var(--color-inprogress);
}

.inreview {
  background-color: var(--color-inreview);
}

.testing {
  background-color: var(--color-testing);
}

.done {
  background-color: var(--color-done);
}

.blocked {
  background-color: var(--color-blocked);
}


.board__column--todo {
  order: 1;
}

.board__column--inprogress {
  order: 2;
}

.board__column--inreview {
  order: 3;
}

.board__column--testing {
  order: 4;
}

.board__column--done {
  order: 5;
}

.board__column--blocked {
  order: 6;
}

.hidden {
  display: none;
}

.rounded {
  border-radius: 50%;
}

.priority {
  &--blocker {
    background-color: var(--color-danger);
  }

  &--critical {
    background-color: var(--color-violet);
  }

  &--high {
    background-color: var(--color-attention);
  }

  &--low {
    background-color: var(--color-success-dark);
  }

  &--medium {
    background-color: var(--color-everage);
  }

  &--trivial {
    background-color: var(--color-success);
  }
}