*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  margin: 0;
}

body {
  min-height: 100vh;
  padding: 0;
  color: var(--color-text);
  background: var(--color-secondary);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.42;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.relative {
  position: relative;
}

.todo {
  background-color: var(--color-todo);
}

.inprogress {
  background-color: var(--color-inprogress);
}

.inreview {
  background-color: var(--color-inreview);
}

.testing {
  background-color: var(--color-testing);
}

.done {
  background-color: var(--color-done);
}

.blocked {
  background-color: var(--color-blocked);
}



.header {
  background-color: #273850;
}

.main-bg {
  background-color: #324664;
}

.column-header {
  background-color: #46546f;
}

.board-bg {
  background-color: #5d6985;
}

.task-bg {
  background-color: #12223d;
}

.board_column--todo {
  order: 1;
}

.board_column--inprogress {
  order: 2;
}

.board_column--inreview {
  order: 3;
}

.board_column--testing {
  order: 4;
}

.board_column--done {
  order: 5;
}

.board_column--blocked {
  order: 6;
}