:root {
  --color-text: #fff;
  --color-background: #324664;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  margin: 0;
}

body {
  min-height: 100vh;
  padding: 0;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.42;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



.todo {
  background-color: #04c7e5;
}

.inprogress {
  background-color: #ffc405;
}

.inreview {
  background-color: #fe7453;
}

.testing {
  background-color: #9c27b0;
}

.done {
  background-color: #56daa4;
}

.blocked {
  background-color: #ff7b7d;
}



.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  cursor: pointer;
  white-space: nowrap;
  width: auto;
  background-color: #32435d;
  border: none;
}


.header {
  background-color: #273850;
}

.main-bg {
  background-color: #324664;
}

.column-header {
  background-color: #46546f;
}

.board-bg {
  background-color: #5d6985;
}

.task-bg {
  background-color: #12223d;
}

.board_column--todo {
  order: 1;
}

.board_column--inprogress {
  order: 2;
}

.board_column--inreview {
  order: 3;
}

.board_column--testing {
  order: 4;
}

.board_column--done {
  order: 5;
}

.board_column--blocked {
  order: 6;
}