  //===mediaqueries====

  $xs: 320px; //Mobile devices
  $sm: 481px; //iPads, Tablets
  $md: 769px; //Small screens, laptops
  $tablet: 1025px; //Desktops, large screens
  $lg: 1201px; //Extra large screens, TV