:root {
  --color-primary: #273850;
  --color-secondary: #324664;
  --color-main: #324664;
  --color-column-header: #46546f;
  --color-board-bg: #5d6985;
  --color-task-bg: #12223d;

  --asside-width-expanded: 200px;
  --asside-width-close: 75px;
}