:root {
  --color-primary: #273850;
  --color-secondary: #324664;
  --color-main: #324664;
  --color-column-header: #46546f;
  --color-board-bg: #5d6985;
  --color-task-bg: #12223d;

  --color-text: #fff;
  --color-hover-bg: #32435d;



  --color-todo: #04c7e5;
  --color-inprogress: #ffc405;
  --color-inreview: #fe7453;
  --color-testing: #9c27b0;
  --color-done: #56daa4;
  --color-blocked: #ff7b7d;

  --asside-width-expanded: 200px;
  --asside-width-close: 75px;

  --border-radius-large: 8px;
  --border-radius-medium: 4px;
  --border-radius-small: 2px;
}