@forward './mediaqueries';
@use './variables';
@use './normalize.scss';
@use './typo';
@use './buttons';
@use './form-controls';
@use './tabs';
@use './scrollbar';
@use './base.scss';


#app {
  margin: 0 auto;
  font-weight: normal;
}

.flex {
  display: flex;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;

  &__spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
  }

  &__notfound {
    max-width: 80%;
  }
}

main {
  // height: 100%;
  min-height: calc(100vh - 150px); //100vh - (header + footer)
  flex-grow: 2;
  background-color: var(--color-white);
  max-width: calc(100% - var(--asside-width-expanded));
  transition: max-width 0.35s ease;
}

.sidebar.close {
  &~.main {
    max-width: calc(100% - var(--asside-width-close));
    transition: max-width 0.35s ease;
  }
}